---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import words from "../assets/images/words.webp";
import Vector from "../assets/images/Vector.png";
import test from "../assets/images/test.png";
---

<MainLayout title="Titel">
  <section id="hero" class="pt-40 flex flex-col items-start lg:px-24">
    <Image src={words} alt="" class="w-4/5 h-auto mb-4" />
    <p class="text-right w-2/3 max-w-2xl self-end text-3xl leading-normal pt-11 pr-12">Rounded, bold, and memorable — this display font brings life to your designs!</p>
  </section>

  <section id="sektion1" class="relative">
    <Image src={Vector} alt="" class="w-full" />
    <h2 class="absolute top-1/4 left-0 text-white text-6xl pt-5 pl-28">Soft, Round, and Playful</h2>
    <p class="absolute top-1/3 left-0 text-white text-xl pt-8 pl-28 pr-96 max-w-[70%]">
      <i>Shape words differently</i> is inspired by <b>smooth</b>, rounded shapes. This font was made to feel warm and friendly, with a style that is <b>easy</b> to recognize. Its round shapes give it a gentle look, perfect for designs that need to feel inviting and <b>unique.</b>
      <br /><br />Use <i>Shape words differently</i> to make a statement without being too bold - it is great for catching the eye in a gentle way.
    </p>
  </section>

  <section id="sektion2" class="flex justify-end mt-[-150px]">
    <Image src={test} alt="" class="max-h-[450px]" />
    <div class="text-left pl-32 max-w-[60%] leading-normal">
      <h2 class="text-6xl">How to Use</h2>
      <h3 class="text-2xl py-5 font-medium">Rounded Shapes, endless possibilities</h3>
      <p class="max-w-[70%] text-xl">
        <i>Shape words differently</i> works best for projects that need a soft and inviting look. With its smooth, curved edges, it is perfect for logos, posters, and designs that should stand out. Whether on screen or in print, it looks great everywhere. <br /><br />
        Use <i>Shape words differently</i> for large titles, creative graphics, or playful layouts. Its friendly, round shapes make it perfect for designs that need to be both stylish and easy to remember.
      </p>
    </div>
  </section>

  <section id="sektion1" class="relative pt-14">
    <Image src={Vector} alt="" class="w-full" />
    <h2 class="absolute top-[19%] left-0 text-white text-6xl pl-28">The design process</h2>
    <p class="absolute top-[27%] left-0 text-white text-xl pl-28 pr-96 max-w-[70%]">
      <i>Shape words differently</i> was born out of a project during my studies as a digital designer. The assignment was to create a custom font, and I set out to design something unique that would combine boldness with friendliness. <br /><br />To gather ideas, I explored a lot of inspiration online, particularly on Pinterest, where I found myself drawn to round, soft, and bubble-like shapes. These curvy forms felt playful and approachable, which led me to focus on creating a font with these characteristics. I created a moodboard to collect my thoughts and guide the design process. <br /><br />From there, I began sketching each letter carefully in Adobe Illustrator, ensuring the shapes remained consistent and fresh, while still feeling clean and modern. <i>Shape words differently</i> is
      the result of combining creativity with the challenge of designing something that is both bold and inviting.
    </p>
  </section>

  <section id="sektion2" class="flex justify-end mt-[-150px]">
    <h2 class="text-4xl pr-16">Created by Maria Rose Andersen</h2>
  </section>
</MainLayout>
