<!-- ---

---

<section id="contact-section" class="relative w-full overflow-clip flex flex-col md:flex-row gap-8 pb-44 pt-10 lg:pl-44 lg:pt-44">
  <div class="flex flex-col gap-4 text-left md:text-left px-4 md:pl-0">
    <h2 class="text-5xl lg:text-8xl">CONTACT</h2>
    <div class="max-w-xl">
      <p class="text-lg md:text-lg lg:text-base pb-4">I love being part of the <b><i>creative</i></b> process right from the beginning, where I can contribute ideas and turn them into effective solutions. I am <b><i>social</i></b>, dedicated, and approach tasks with enthusiasm. I thrive in team environments, contribute to a <b><i>positive</i></b> atmosphere, and take pride in seeing projects through to completion. <br /> <br />I would <b><i>love</i></b> to bring my skills and <b><i>energy</i></b> to your team. I can't wait to hear from you. Thank you for your time!</p>
    </div>
    <p class="text-2xl font-semibold">Contact information:</p>
    <p class="text-lg">Mobile: <a href="tel:+4560438377" class="text-black no-underline hover:text-gray-700 hover:underline">+45 6043 8377</a></p>
    <p class="text-lg">E-mail: <a href="mailto:Mariara@live.dk" class="text-black no-underline hover:text-gray-700 hover:underline">Mariara@live.dk</a></p>
    <p class="text-lg text-black">Connect with me on <a href="https://www.linkedin.com/in/maria-rose-andersen/" target="_blank" rel="noopener noreferrer" class="text-lg text-black font-bold hover:underline">LinkedIn</a></p>
  </div>
  <div class="absolute w-[800px] h-[800px] overflow-hidden getintouchanimation hidden md:block">
    <svg id="unique-svg" viewBox="0 0 800 800" class="w-full h-full">
      <defs>
        <path id="circle-path" d="M 400,400 m -300,0 a 300,300 0 1,1 600,0 a 300,300 0 1,1 -600,0"></path>
      </defs>
      <text>
        <textPath href="#circle-path" startOffset="50%"> GET IN TOUCH • GET IN TOUCH • GET IN TOUCH •</textPath>
      </text>
    </svg>
  </div>
</section>

<style>
  .circle-container {
    position: static; 
    width: 800px; 
    height: 800px;
    overflow: visible; 
    bottom: 0; 
    right: 0; 
    z-index: 10; /
  }

  svg {
    width: 100%;
    height: 100%;
    animation: rotate 30s linear infinite; 
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  svg text {
    position: fixed;
    font-size: 80px; 
    fill: rgb(4, 88, 15);
    text-anchor: middle;
  }
</style> -->
